.changeItem {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 4px 6px 6px #7e7c7c;
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  > input {
    width: 80%;
    height: 30px;
    margin: 0 auto;
  }
  &_button {
    display: flex;
    column-gap: 15px;
    margin: 20px auto;
  }
}

